$sm-device: 768px;
$md-device: 1024px;
$lg-device: 1366px; // Ipad in landscape

$color-primary-dark: hsl(300, 43%, 22%);
$color-primary-light: hsl(333, 80%, 67%);
$color-neutral-dark: hsl(303, 10%, 53%);
$color-neutral-light: hsl(300, 24%, 96%);
$color-neutral-lighter: hsl(0, 0%, 100%);

$color-background-default: $color-neutral-lighter;
$color-background-primary: $color-primary-dark;
$color-background-secondary: $color-neutral-light;
$color-text-default: $color-neutral-dark;
$color-text-primary-heading: $color-primary-dark;
$color-text-primary-subheading: $color-primary-light;
$color-text-secondary: $color-neutral-light;

$text-default-font-family: 'Spartan', sans-serif;
$text-default-font-size: 15px;
